<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.samepinch.android.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature" android:name="co.samepinch.android.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="co.samepinch.android.app.permission.C2D_MESSAGE" />

    <application
        android:name=".SPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name=".helpers.RootActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".ActivityFragment" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivityIn" />

        <provider
            android:name="co.samepinch.android.data.dao.SPContentProvider"
            android:authorities="co.samepinch.android.app"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".helpers.intent.PostsPullService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.TagsPullService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.TagDetailsService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.PostDetailsService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.FBAuthService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.AuthService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.SignOutService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.SignUpService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.MultiMediaUploadService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.CommentUpdateService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.DotDetailsService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.PostMetaUpdateService"
            android:exported="false" />

        <service
            android:name=".helpers.intent.ParseSyncService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- AVIARY SETTINGS :: START -->
        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="3d668d735e29323d" />

        <activity
            android:name="com.aviary.android.feather.sdk.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:hardwareAccelerated="true"
            android:process=":standalone"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme.Dark"
            android:uiOptions="splitActionBarWhenNarrow" />

        <!-- CDS Content Service -->
        <service
            android:name="com.aviary.android.feather.cds.AviaryCdsService"
            android:exported="false"
            android:process=":aviarycds">
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_START" />
                <action android:name="aviary.intent.action.CDS_RESTORE_USER_ITEMS" />
            </intent-filter>
        </service>

        <!--
            Cds Content Provider
         -->
        <provider
            android:name="com.aviary.android.feather.cds.AviaryCdsProvider"
            android:authorities="co.samepinch.android.app.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds"
            android:syncable="true" />
        <!-- CDS Download Receiver -->
        <receiver
            android:name="com.aviary.android.feather.cds.AviaryCdsReceiver"
            android:process=":aviarycds">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <!-- AVIARY SETTINGS :: END -->

        <!-- PARSE SETTINGS :: START -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="co.samepinch.android.app" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/header_icon_samepinch_2x"/>
        <receiver android:name=".helpers.misc.SPParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
        <!-- PARSE SETTINGS :: END -->

    </application>

</manifest>
