<?xml version="1.0" encoding="utf-8"?><!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"--><!--package="app<application--><!--android:allowBackup="true"--><!--android:icon="@mipmap/ic_launcher"--><!--android:label="@string/app_name"--><!--android:theme="@style/AppTheme" >--><!--<activity--><!--android:name=".MainActivity"--><!--android:label="@string/app_name" >--><!--<intent-filter>--><!--<action android:name="android.intent.action.MAIN" />-->

<!--<category android:name="android.intent.category.LAUNCHER" />--><!--</intent-filter>--><!--</activity>--><!--</application>-->

<!--</manifest>-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="droid.samepinch.co.app">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo">

        <activity
            android:name="droid.samepinch.co.app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PostDetailActivity" />
        <activity android:name=".ActivityFragment" />


        <provider
            android:name="droid.samepinch.co.data.dao.SPContentProvider"
            android:authorities="droid.samepinch.co.app"
            android:exported="false"
            android:syncable="true" />

        <!--<provider-->
        <!--android:name="droid.samepinch.co.data.dao.IUserDAOImpl"-->
        <!--android:authorities="@string/content_authority_users"-->
        <!--android:exported="false"-->
        <!--android:syncable="true" />-->

        <service
            android:name=".helpers.intent.PostsPullService"
            android:exported="false"/>

        <service
            android:name=".helpers.intent.TagsPullService"
            android:exported="false"/>

        <service
            android:name=".helpers.intent.PostDetailsService"
            android:exported="false"/>

    </application>

</manifest>
