<?xml version="1.0" encoding="utf-8"?><!-- <manifest xmlns:android="http://schemas.android.com/apk/res/android" --><!-- package="app<application --><!-- android:allowBackup="true" --><!-- android:icon="@mipmap/ic_launcher" --><!-- android:label="@string/app_name" --><!-- android:theme="@style/AppTheme" > --><!-- <activity --><!-- android:name=".MainActivity" --><!-- android:label="@string/app_name" > --><!-- <intent-filter> --><!-- <action android:name="android.intent.action.MAIN" /> --><!-- <category android:name="android.intent.category.LAUNCHER" /> --><!-- </intent-filter> --><!-- </activity> --><!-- </application> --><!-- </manifest> -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.samepinch.android.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".SPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".ActivityFragment" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivityIn" />


        <provider
            android:name="co.samepinch.android.data.dao.SPContentProvider"
            android:authorities="co.samepinch.android.app"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".helpers.intent.PostsPullService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.TagsPullService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.PostDetailsService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.FBAuthService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.AuthService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.SignOutService"
            android:exported="false" />
        <service
            android:name=".helpers.intent.SignUpService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>
